@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 1200px) { 
  #container0 {
    display: flex;
  }

  #stop {
    display: none;
  }

  #welcomeText {
    display: none;
  }
}

#welcomeText {
  font-size: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  font-family: "Kanit", sans-serif;
}

#presentation {
  padding: 15vh;
  margin: 10vh;
  height: 30vh;


}

#stop:hover {
  transform: scale(1.015);
}

#stop {
  transition: transform 0.5s; 
  width: 25rem;
  height: 33rem;
  margin-top: 7rem;
  margin-left: 10rem;
  border-radius: 5px;
  box-shadow: -50px -17px 6px 0px #a3abec;
}



#box1pres {
  display: flex;
}


#buttonT {
  color: #fff;
}

#myName {
  color:#7872f1;
  font-size: xx-large;
}

#chinoisTexte {
  color: #7872f1;
}



.downArrow {
    width: 10em;
}

.divDownArrow {
    display: flex;
    justify-content: center;
}

#button a:hover {
  scale: 1;
}


#button {
    margin-top: 2em;
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;

    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    width: 16rem;
  }
  
  #button .arroww-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #button .arroww {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  #button .arroww::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  #button:hover {
    background-color: var(--hover-color);
  }
  
  #button:hover .arroww {
    background: var(--secondary-color);
  }
  
  #button:hover .arroww:before {
    right: 0;
  }

  #submitButton {
    color: #fff;
  }