.projet img {
  width: 30rem;
  height: 20rem;
}

.secProj {
  display: flex; 
}

.projet {
  margin: 4vh;
  padding: 4vh;
  box-shadow: 5px 5px 5px 5px black;
}

.projet:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}


#container3 {
height: 100%;
}

.slide-title {
  display: flex;
  justify-content: center;
  width: 30rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
.projet * {
  width: 30rem;
}
#langueTEL {
  display: none;
}
}



@media screen and (max-width: 1200px) {
  .secProj {
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #droite {
    display: none;
  }

  #footer {
    justify-content: center;
  }

  .projet img {
    width: 18rem;
    height: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .slide-text p {
    font-size: 0.9rem;
    padding: 1rem;
    width: 21rem;
  }

  .slide-title {
    font-size: 1rem;
    padding: 1rem;
    width: 21rem;
  }

  .legende {
    width: 21rem;
    padding: 1rem;
  }

  .slide-text h2 {
    font-size: 1.5rem;
    padding: 1rem;
    width: 23rem;
  }

  .projet {
    align-items: center;

    padding: 0;
    width: 20rem;
    box-shadow: 5px 5px 5px 5px black;
  }
 }
