#container0 {
    display: flex;
    margin: 20vh;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
}

#downArrow {
    width: 10em;
}

#divDownArrow {
    display: flex;
    justify-content: center;
}


buttoon {
    margin-top: 2em;
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;

    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    width: 16rem;
  }
  
  buttoon .arroww-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  buttoon .arroww {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  buttoon .arroww::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  buttoon:hover {
    background-color: var(--hover-color);
  }
  
  buttoon:hover .arroww {
    background: var(--secondary-color);
  }
  
  buttoon:hover .arroww:before {
    right: 0;
  }