#bio {
    padding-top: 20vh;
    margin-left: 10vh;
    width: 37.5rem; /* 600px to rem */
  }
  
  #container1 {
    height: 100vh;
    display: flex;
    padding-top: 15vh;
    justify-content: center;
  }
  
  .classicIMG {
    border-radius: 0.9375rem; /* 15px to rem */
    box-shadow: 0.625rem 0.3125rem 0.3125rem rgb(14, 10, 23); /* 10px 5px 5px to rem */
    margin: 0.9375rem; /* 15px to rem */
  }
  
  .classicIMG:hover {
    transform: scale(1.05);
    transition-duration: 1s;
  }