@media screen and (min-width: 800px) {
  #container1 {
    height: 85vh;
    display: flex;
    padding-top: 5vh;
    justify-content: center;
  }
  
  .bio {
    width: 37.5rem; /* 600px to rem */
    margin-bottom: 5vh;
  }

  #divBio {
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    padding-top: 7vh;
  }
}

#divBio {
  padding-bottom: 10vh;
}


#arrow2 {
  margin-left: 20vh;
  margin-right: 20vh;
}

.classicIMG {
  border-radius: 0.9375rem; /* 15px to rem */
  box-shadow: 10px 10px 6px 0px #bac4cf;
  margin: 0.9375rem; /* 15px to rem */
  transition: transform 0.5s; 
}

body.dark .classicIMG {
  box-shadow: 10px 10px 6px 0px #132538;
}

.classicIMG:hover {
  transform: scale(1.01);

}



button {
  font-family: inherit;
  font-size: 1.25rem; /* 20px to rem */
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1rem; /* 16px to rem */
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 14rem;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(10em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
