

#footer {
  height: 10vh;
  width: 100vdh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body.dark #footer {

  background-color: #5d599c;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  
}


.list-item a, .list-item span {
  margin-left: 1em;
  margin-right: 1em;
}

.contact-list {
  display: flex;
}

* {  padding-bottom: 1.25rem; /* 20px to rem */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.icon,
.iconNC {
  width: 3.125rem; /* 50px to rem */
  color: white;
  margin: 0.625rem; /* 10px to rem */
}

.icon:hover {
  transform: scale(1.2);
}

.social-media-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

}



