

#footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.25rem; /* 20px to rem */
  padding-right: 5em;
  
}

.list-item a, .list-item span {
  padding-left: 2em;
}

.contact-list {
  display: flex;
}

* {  padding-bottom: 1.25rem; /* 20px to rem */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.icon,
.iconNC {
  width: 3.125rem; /* 50px to rem */
  color: white;
  margin: 0.625rem; /* 10px to rem */
}

.icon:hover {
  transform: scale(1.2);
}

.social-media-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.25rem; /* 20px to rem */
  width: 18.75rem; /* 300px to rem */
  padding-right: 5em;
}



