*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
}

body.dark {

  
  background-color: #0d1b2a;

  color: aliceblue;
  
  
}


body.dark * {
  color: white;
}


.carte {
    box-shadow: rgba(9, 30, 66, 0.25) 3px 4px 4px, rgba(9, 30, 66, 0.13) 3px 4px 4px 4px;
  }

body.light {

  background-color: rgb(240, 240, 240);

  
}

body.light .arrow {
  border-top: 0.15vw solid black;
  border-left: 0.15vw solid black;
}


body.light .loader-square {
  background-color: #10171f;
}

* {
  color: black;
}


a:hover {
  color: rgb(131, 137, 143);
  scale: 1.1;
}
#changeLanguages {
  display: flex;
  justify-content: center;
  padding: 0.9375rem; /* 15px to rem */
  font-size: 1em;
  font-weight: bold;
  transition: 0.5s;
}

.title {
  font-size: 2rem; /* Changed to relative unit */
  padding-top: 1.25rem; /* 20px to rem */
  text-align: center;
  padding-bottom: 3.125rem; /* 50px to rem */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.25rem; /* 20px to rem */
  padding-left: 5rem;
  padding-right: 3rem;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.navclick {
  text-decoration: none;
  padding: 0.9375rem; /* 15px to rem */
  padding-left: 1.875rem; /* 30px to rem */
  font-size: 1.20em;
  font-weight: bold;
  transition: 0.5s;
}

.navclick:hover {
  color: rgb(8, 55, 102);
  scale: 1.1;
}



#container1,
#container2,
#container3{
  height: 100vh;
}

