g*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

body.dark {

  
  background-color: rgb(22, 24, 38);

  color: aliceblue;
  
  #navbar {
    color: white;
  }
}

  .carte {
    box-shadow: rgba(9, 30, 66, 0.25) 3px 4px 4px, rgba(9, 30, 66, 0.13) 3px 4px 4px 4px;
  }

body.light {

  background-color: rgb(240, 240, 240);

  
  
}
a{
  color: white;
}

a:hover {
  color: rgb(131, 137, 143);
  scale: 1.1;
}
#changeLanguages {
  display: flex;
  justify-content: center;
  padding-left: 0.625rem; /* 10px to rem */
  padding: 0.9375rem; /* 15px to rem */
  font-size: 1em;
  font-weight: bold;
  transition: 0.5s;
}

.title {
  font-size: 2rem; /* Changed to relative unit */
  padding-top: 1.25rem; /* 20px to rem */
  text-align: center;
  padding-bottom: 3.125rem; /* 50px to rem */
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem; /* 20px to rem */
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
}

.navclick {
  text-decoration: none;
  padding: 0.9375rem; /* 15px to rem */
  padding-left: 1.875rem; /* 30px to rem */
  font-size: 1em;
  font-weight: bold;
  transition: 0.5s;
}

.navigation {
  padding-right: 3.125rem; /* 50px to rem */
  padding-left: 3.125rem; /* 50px to rem */
}

.navigation:hover {
  color: rgb(131, 137, 143);
}

#container1,
#container2,
#container3,
#container4 {
  height: 100vh;
}

