@media screen and (max-width: 600px) {
  #container1,
  #container2,
  #container3,
  #container4 {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  #changeLanguages {
    display: flex;
    justify-content: center;

    padding-left: 10px;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;
  }

  .title {
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 10vh;
  position: fixed;
  width: 500px;
  top: 0;
  left: 0; /* Ensure the navbar sticks to the left side of the viewport */
  width: 100%; /* Ensure the navbar spans the entire width of the viewport */
  z-index: 1000; /* Ensure it appears above other content */
  background-color: rgba(255, 255, 255, 0); /* Transparent white background */
  }

  #navSkill {
    display: none;
  }

  .navclick {
    text-decoration: none;

    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;
  }


  .navigation:hover {
    color: rgb(131, 137, 143);
  }


  title {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
  }

  #bio {
    padding-top: 20vh;
    margin-left: 10vh;
    width: 400px;
  }

  #container1 {
    height: 100vh;
    display: flex;
    padding-top: 15vh;
    justify-content: center;
}

.classicIMG {
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(14, 10, 23);
    margin: 15px;
}

.classicIMG:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}
}
